#root{
  text-align: center;
}
button{
  background-color: blue;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;

}
/* App.css */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  /* Any additional styling */
}
